<!-- Course Cards --> 
<div class="card col-sm-4 ml-0" *ngFor="let course of courseService.courses">
  <img class="card-img-top" src="../assets/python.png" alt="Card image cap">
  <div class="card-body P-0">
    <h5 class="card-title">{{ course.name }}</h5>
    <p class="card-text">{{ course.description }}</p>
    <p class="font-italic text-muted mb-0">Fecha de Inicio: {{ course.startDate }}</p>
    <p class="font-italic text-muted">Fecha Final: {{ course.endDate }}</p>
    <p class="font-italic text-muted mb-0">Sede: {{ course.place }}</p>
    <p class="font-italic text-muted mb-0">Duracion: {{ course.duration }} Horas</p>
    <p class="font-italic text-muted">Jornada: {{ course.dayTime }}</p>
    <a class="btn btn-sm btn-warning" (click)="editCourse(course)">Editar</a>
    <button class="btn btn-sm btn-danger mx-3" (click)="deleteCourse(course._id)">Eliminar</button>
  </div>
</div>